@use "../../styles/variables" as *;

:host {
  display: inline-block;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs $spacing-sm;
  font-size: $font-xs;
  font-weight: 500;
  line-height: 1;
  border-radius: $border-radius;
  white-space: nowrap;
  min-width: $spacing-xl;

  &--primary {
    background-color: $primary-hover;
    color: $text-primary;
  }

  &--success {
    background-color: $success-dark;
    color: $text-primary;
  }

  &--warning {
    background-color: $warning-dark;
    color: $bg-quaternary;
  }

  &--danger {
    background-color: $danger-dark;
    color: $text-primary;
  }

  &--info {
    background-color: $disabled-bg;
    color: $text-primary;
  }

  &--dot {
    width: $size-1;
    height: $size-1;
    padding: 0;
    border-radius: 50%;
    min-width: 0;
  }
}


.badge:not(.badge--dot) {
  &:empty,
  &:has(:only-child:is(text)) {
    aspect-ratio: 1;
    border-radius: 50%;
    padding: $spacing-xs;
  }
}
