@use "../../styles/variables" as *;

:host {
  display: block;
}

.pagination {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.pagination-btn {
  min-width: $size-4;
  height: $size-4;
  padding: 0 $spacing-sm;
  background-color: $bg-secondary;
  color: $text-primary;
  border: 1px solid $border-dark;
  border-radius: $border-radius;
  cursor: pointer;
  transition: $transition;

  &:hover:not(:disabled) {
    background-color: $bg-tertiary;
    color: $text-primary;
  }

  &.active {
    background-color: $primary-hover;
    color: $text-primary;
    border-color: $primary-hover;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.pagination-ellipsis {
  color: $disabled-text;
  padding: 0 $spacing-xs;
}
