@use "../../styles/variables" as *;

:host {
  display: inline-block;
}

.kbd-wrapper {
  display: inline-flex;
  align-items: center;
  gap: $spacing-xs;
}

.kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: $size-3;
  padding: $spacing-xs $spacing-sm;
  font-family: $font-mono;
  font-size: $font-xs;
  font-weight: 500;
  line-height: 1;
  color: $text-primary;
  background-color: $bg-secondary;
  border: 1px solid $border-color;
  border-radius: $spacing-xs;
}

.kbd-separator {
  font-size: $font-xs;
  color: $disabled-text;
}
