@use "../../styles/variables" as *;

:host {
  display: inline-block;
}

.radio-wrapper {
  display: inline-flex;
  align-items: center;
  gap: $spacing-sm;
  cursor: pointer;
  user-select: none;
}

.radio-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid $border-color;
  background-color: $bg-primary;
  transition: $transition;
  flex-shrink: 0;
  box-sizing: border-box;

  &--sm {
    width: $spacing-md;
    height: $spacing-md;
  }

  &--md {
    width: $size-2;
    height: $size-2;
  }

  &--lg {
    width: $spacing-xl;
    height: $spacing-xl;
  }

  &--focused {
    border-color: $primary;
    box-shadow: 0 0 0 3px rgba($primary, 0.1);
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.radio-inner {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: $primary;
  transform: scale(0);
  transition: $transition;
  opacity: 0;
}

.radio-input:checked + .radio .radio-inner {
  transform: scale(1);
  opacity: 1;
}

.radio-wrapper:hover:not(:has(.radio--disabled)) .radio {
  border-color: $primary;
}

.radio-input:checked + .radio {
  background-color: $primary;
  border-color: $primary;
}

.radio-input:checked + .radio .radio-inner {
  background-color: $bg-primary;
}

.radio-input:checked + .radio:hover {
  background-color: $primary-hover;
  border-color: $primary-hover;
}

.radio-label {
  color: $text-primary;
  font-size: $font-sm;
  line-height: 1.5;
  transition: color 0.2s;
}

.radio-wrapper:has(.radio--disabled) .radio-label {
  color: $disabled-text;
  cursor: not-allowed;
}

.radio-wrapper:hover:not(:has(.radio--disabled)) .radio-label {
  color: $text-primary;
}

.radio-group-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.group-label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: $spacing-xs;

  .required {
    color: $danger;
  }
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-2xl;
}

.error-message {
  font-size: $font-xs;
  color: $danger;
  margin-top: $spacing-xs;
}
