@use "../../styles/variables" as *;

:host {
  display: inline-block;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.75rem;
  white-space: nowrap;
  min-width: 1.25rem;

  &--primary {
    background-color: $blue-600;
    color: $text-primary;
  }

  &--success {
    background-color: $green-600;
    color: $text-primary;
  }

  &--warning {
    background-color: $yellow-600;
    color: $gray-900;
  }

  &--danger {
    background-color: $red-600;
    color: $text-primary;
  }

  &--info {
    background-color: $gray-600;
    color: $text-primary;
  }

  &--dot {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border-radius: 50%;
    min-width: 0;
  }
}

// Make badge circular when content is short (likely a number)
.badge:not(.badge--dot) {
  &:empty,
  &:has(:only-child:is(text)) {
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0.25rem;
  }
}
