@use "../../styles/variables" as *;

:host {
  display: block;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: $spacing-sm;
  cursor: pointer;
  line-height: $spacing-xl;
}

.switch-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.switch-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.switch {
  position: relative;
  display: inline-block;
  background-color: $disabled-bg;
  border-radius: 100px;
  transition: background-color 0.2s ease;
  flex-shrink: 0;

  &--sm {
    width: $size-4;
    height: $spacing-lg;
  }

  &--md {
    width: $size-5;
    height: $spacing-xl;
  }

  &--lg {
    width: $size-6;
    height: $spacing-2xl;
  }

  &--checked {
    background-color: $primary;
  }

  &--disabled {
    background-color: $text-secondary;
    cursor: not-allowed;
  }
}

.switch-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  .switch--sm & {
    width: calc($spacing-lg - 4px);
    height: calc($spacing-lg - 4px);
  }

  .switch--md & {
    width: calc($spacing-xl - 4px);
    height: calc($spacing-xl - 4px);
  }

  .switch--lg & {
    width: calc($spacing-2xl - 4px);
    height: calc($spacing-2xl - 4px);
  }

  .switch--checked.switch--sm & {
    transform: translateX(calc($size-4 - $spacing-lg));
  }

  .switch--checked.switch--md & {
    transform: translateX(calc($size-5 - $spacing-xl));
  }

  .switch--checked.switch--lg & {
    transform: translateX(calc($size-6 - $spacing-2xl));
  }
}

.required {
  color: $danger;
  margin-left: $spacing-xs;
}

.error-message {
  display: block;
  margin-top: $spacing-sm;
  font-size: $font-xs;
  color: $danger;
}
