@use "../../styles/variables" as *;

:host {
  display: inline-block;
  vertical-align: middle;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid transparent; 
  outline: none;
  transition: $transition;
  border-radius: $border-radius;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  
  &--sm {
    padding: 0 $spacing-md; 
    height: $size-4; 
    font-size: $font-sm; 
    line-height: $size-4;

    &.btn--icon-only {
      padding: 0;
      width: $size-4;
    }
  }

  &--md {
    padding: 0 $spacing-lg; 
    height: $size-5; 
    font-size: $font-base; 
    line-height: $size-5;

    &.btn--icon-only {
      padding: 0;
      width: $size-5;
    }
  }

  &--lg {
    padding: 0 $spacing-xl; 
    height: $size-6; 
    font-size: $font-lg; 
    line-height: $size-6;

    &.btn--icon-only {
      padding: 0;
      width: $size-6;
    }
  }

  
  &--primary {
    background-color: $primary-hover;
    color: $text-primary;

    &:hover:not(:disabled) {
      background-color: $primary-active;
    }
  }

  &--secondary {
    background-color: $disabled-bg;
    color: $text-primary;

    &:hover:not(:disabled) {
      background-color: $border-light;
    }
  }

  &--success {
    background-color: $success-dark;
    color: $text-primary;

    &:hover:not(:disabled) {
      background-color: $success-darker;
    }
  }

  &--warning {
    background-color: $warning-dark;
    color: $text-primary;

    &:hover:not(:disabled) {
      background-color: $warning-darker;
    }
  }

  &--danger {
    background-color: $danger-dark;
    color: $text-primary;

    &:hover:not(:disabled) {
      background-color: $danger-darker;
    }
  }

  &--ghost {
    background-color: transparent;
    color: $text-secondary;

    &:hover:not(:disabled) {
      background-color: rgba($border-light, 0.5);
      color: $text-primary;
    }
  }

  &--outline {
    background-color: transparent;
    border-color: $border-light;
    color: $text-primary;

    &:hover:not(:disabled) {
      background-color: rgba($border-light, 0.5);
      color: $text-primary;
    }
  }

  
  &:disabled,
  &.is-loading {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:active:not(:disabled):not(.is-loading) {
    transform: scale(0.95);
  }
}

.spinner {
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: $spacing-sm;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


::slotted([slot="icon"]) {
  margin-right: $spacing-sm;
  display: inline-flex;
}

.btn--icon-only ::slotted([slot="icon"]) {
  margin-right: 0;
}

::slotted([slot="icon-right"]) {
  margin-left: $spacing-sm;
  display: inline-flex;
}
