@use "../../styles/variables" as *;

:host {
  display: block;
}

.radio-group-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.group-label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: $spacing-xs;
}

.required {
  color: $danger;
  margin-left: $spacing-xs;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.error-message {
  font-size: $font-xs;
  color: $danger-light;
  margin-top: $spacing-xs;
}
