@use "../../styles/variables" as *;

:host {
  display: block;
  width: 100%;
}

.radio-group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: 0.25rem;
}

.required {
  color: $red-500;
  margin-left: 0.25rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.error-message {
  font-size: 0.75rem;
  color: $red-400;
  margin-top: 0.25rem;
}
