@use "../../styles/variables" as *;

:host {
  display: block;
}

.textarea-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: $spacing-sm;

  .required {
    color: $danger;
  }
}

.textarea {
  flex: 1;
  padding: $spacing-md;
  border-radius: $border-radius;
  border: 1px solid $border-dark;
  background-color: $bg-secondary;
  color: $text-primary;
  font-family: $font-family;
  font-size: $font-sm;
  line-height: 1.5;
  transition: $transition;
  outline: none;
  min-height: $size-5;

  &::placeholder {
    color: $text-secondary;
  }

  &:hover:not(:disabled):not(:read-only) {
    border-color: $border-light;
  }

  &:focus:not(:disabled):not(:read-only) {
    border-color: $primary;
  }

  &--error {
    border-color: $danger;

    &:focus {
      border-color: $danger-light;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: $bg-quaternary;
  }

  &:read-only {
    cursor: default;
    background-color: $bg-quaternary;
    border-color: $border-dark;
  }
}

.textarea-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: $spacing-xs;
  gap: $spacing-lg;
}

.message-wrapper {
  flex: 1;
}

.helper-text {
  font-size: $font-xs;
  color: $text-secondary;
}

.error-message {
  font-size: $font-xs;
  color: $danger-light;
}

.counter {
  font-size: $font-xs;
  color: $text-secondary;
  white-space: nowrap;
  margin-left: auto;
}
