@use "../../styles/variables" as *;

:host {
  display: block;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-5xl $spacing-lg;
  text-align: center;
}

.empty-image {
  margin-bottom: $spacing-md;
  color: $text-secondary;

  img {
    max-width: 100%;
    height: auto;
  }

  svg {
    width: 64px;
    height: 64px;
  }
}

.empty-description {
  margin: 0 0 $spacing-lg;
  color: $text-secondary;
  font-size: $font-sm;
}

.empty-content {
  margin-top: $spacing-sm;
}
