@use "../../styles/variables" as *;

:host {
  display: block;
}

.colorpicker-wrapper {
  width: 100%;
}

.label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: $spacing-sm;

  .required {
    color: $danger;
  }
}

.colorpicker-container {
  display: flex;
  gap: $spacing-sm;
  align-items: center;
}

.colorpicker-swatch {
  position: relative;
  width: $size-5;
  height: $size-5;
  border-radius: $border-radius;
  border: 2px solid $border-color;
  cursor: pointer;
  transition: border-color 0.2s;
  overflow: hidden;

  &:hover {
    border-color: $border-color;
  }
}

.colorpicker-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.colorpicker-text {
  flex: 1;
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: $bg-secondary;
  color: $text-primary;
  font-family: $font-mono;
  font-size: $font-sm;
  transition: $transition;
  outline: none;
  text-transform: uppercase;

  &::placeholder {
    color: $text-secondary;
  }

  &:hover:not(:disabled) {
    border-color: $border-color;
  }

  &:focus {
    outline: none;
    border-color: $primary;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.helper-text {
  margin-top: $spacing-xs;
  font-size: $font-xs;
  color: $text-secondary;
}
