@use "../../styles/variables" as *;

:host {
  display: block;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: 0.5rem;
  cursor: pointer;
  line-height: 1.25rem;
}

.switch-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.switch-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.switch {
  position: relative;
  display: inline-block;
  background-color: $gray-600;
  border-radius: 100px;
  transition: background-color 0.2s ease;
  flex-shrink: 0;

  &--sm {
    width: 2rem;
    height: 1.125rem;
  }

  &--md {
    width: 2.5rem;
    height: 1.375rem;
  }

  &--lg {
    width: 3rem;
    height: 1.625rem;
  }

  &--checked {
    background-color: $blue-500;
  }

  &--disabled {
    background-color: $gray-400;
    cursor: not-allowed;
  }
}

.switch-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 3px $shadow-sm;

  .switch--sm & {
    width: calc(1.125rem - 4px);
    height: calc(1.125rem - 4px);
  }

  .switch--md & {
    width: calc(1.375rem - 4px);
    height: calc(1.375rem - 4px);
  }

  .switch--lg & {
    width: calc(1.625rem - 4px);
    height: calc(1.625rem - 4px);
  }

  .switch--checked.switch--sm & {
    transform: translateX(calc(2rem - 1.125rem));
  }

  .switch--checked.switch--md & {
    transform: translateX(calc(2.5rem - 1.375rem));
  }

  .switch--checked.switch--lg & {
    transform: translateX(calc(3rem - 1.625rem));
  }
}

.required {
  color: $red-500;
  margin-left: 0.25rem;
}

.error-message {
  display: block;
  margin-top: 0.375rem;
  font-size: 0.75rem;
  color: $red-500;
}
