@use "../../styles/variables" as *;

:host {
  display: block;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  text-align: center;
}

.empty-image {
  margin-bottom: 1rem;
  color: $gray-600;

  img {
    max-width: 100%;
    height: auto;
  }

  svg {
    width: 64px;
    height: 64px;
  }
}

.empty-description {
  margin: 0 0 1rem;
  color: $text-secondary;
  font-size: 0.875rem;
}

.empty-content {
  margin-top: 0.5rem;
}
