@use "../../styles/variables" as *;

:host {
  display: block;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: 0.5rem;

  .required {
    color: $red-500;
    margin-left: 0.25rem;
  }
}

.select-container {
  position: relative;
  width: 100%;
}

.select-input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem; // Right padding for arrow
  border-radius: 0.5rem;
  border: 1px solid $gray-600;
  background-color: $bg-secondary;
  color: $text-primary;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  appearance: none; // Hide default arrow
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover:not(:disabled) {
    border-color: $gray-500;
  }

  &:focus {
    border-color: $blue-500;
    box-shadow: 0 0 0 2px rgba($blue-500, 0.2);
  }

  &--error {
    border-color: $red-500;

    &:focus {
      border-color: $red-400;
      box-shadow: 0 0 0 1px $red-400;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: $gray-700;
  }
}

.arrow-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: $text-secondary;
  pointer-events: none; // Allow clicks to pass through to select
}

.helper-text {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: $text-secondary;
}

.error-message {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: $red-400;
}
