@use "../../styles/variables" as *;

:host {
  display: block;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: $spacing-sm;

  .required {
    color: $danger;
    margin-left: $spacing-xs;
  }
}

.select-container {
  position: relative;
  width: 100%;
}

.select-input {
  width: 100%;
  padding: $spacing-sm $spacing-4xl $spacing-sm $spacing-md;
  border-radius: $border-radius;
  border: 1px solid $border-dark;
  background-color: $bg-secondary;
  color: $text-primary;
  font-size: $font-sm;
  line-height: $spacing-xl;
  cursor: pointer;
  transition: $transition;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover:not(:disabled) {
    border-color: $border-light;
  }

  &:focus {
    border-color: $primary;
  }

  &--error {
    border-color: $danger;

    &:focus {
      border-color: $danger-light;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: $border-light;
  }
}

.arrow-icon {
  position: absolute;
  right: $spacing-md;
  top: 50%;
  transform: translateY(-50%);
  color: $text-secondary;
  pointer-events: none;
}

.helper-text {
  margin-top: $spacing-xs;
  font-size: $font-xs;
  color: $text-secondary;
}

.error-message {
  margin-top: $spacing-xs;
  font-size: $font-xs;
  color: $danger-light;
}
