@use "../../styles/variables" as *;

:host {
  display: block;
}

.card {
  background-image: linear-gradient(
    to bottom right,
    $bg-quaternary 0%,
    $bg-secondary 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $spacing-md;
  border: 1px solid $border-dark;
  transition: all 0.3s;
  position: relative;

  color: $white;

  &.card--hover {
    cursor: pointer;

    &:hover {
      border-color: $border-dark;
      transform: translateY(-$spacing-xs) scale(1.02);
    }
  }

  &--p-md {
    padding: $spacing-lg;
  }

  &--p-sm {
    padding: $spacing-2xl;
  }

  &--p-lg {
    padding: $spacing-3xl;
  }

  &--no-padding {
    padding: 0;
  }
}

.card__header {
  margin-bottom: $spacing-2xl;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;

  &--center {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.card__icon {
  border-radius: $border-radius;
  padding: $spacing-md;
  transition: all 0.3s;
  background-color: rgba($primary, 0.2);
  color: $primary-light;
  margin-right: $spacing-lg;

  &:hover {
    transform: scale(1.05);
  }

  &--center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-md;
  }
}

.card__title-wrapper {
  flex: 1;

  &--center {
    flex: none;
  }
}

.card__title {
  font-weight: 600;
  color: $white;
  margin: 0;

  &--sm {
    font-size: $font-lg;
  }

  &--md {
    font-size: $font-xl;
  }

  &--lg {
    font-size: $font-2xl;
  }
}

.card__action {
  margin-left: $spacing-lg;
}

.card__content {
  position: relative;
  z-index: 2;

  &--spacing > ::slotted(*:not(:last-child)) {
    margin-bottom: $spacing-md;
  }

  &--center {
    text-align: center;
  }
}

.card__footer {
  margin-top: $spacing-2xl;
  position: relative;
  z-index: 2;

  &--center {
    text-align: center;
  }
}

.card-ripple::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba($primary, 0.2) 0%, transparent 70%);
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  pointer-events: none;
  z-index: 1;
}

.card-ripple:active::before {
  width: 200px;
  height: 200px;
}
