@use "../../styles/variables" as *;

:host {
  display: inline-block;
}

.spin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-sm;
}

.spin {
  display: inline-block;

  &--sm {
    width: $size-2;
    height: $size-2;
  }

  &--md {
    width: $size-4;
    height: $size-4;
  }

  &--lg {
    width: $size-6;
    height: $size-6;
  }
}

.spin-icon {
  width: 100%;
  height: 100%;
  animation: spin 0.8s linear infinite;
}

.spin-track {
  stroke: $border-color;
  opacity: 0.3;
}

.spin-circle {
  stroke: $primary;
  stroke-dasharray: 80, 200;
  stroke-dashoffset: 0;
  animation: spin-dash 1.5s ease-in-out infinite;
  transform-origin: center;
}

.spin-tip {
  font-size: $font-sm;
  color: $text-secondary;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -50;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125;
  }
}
