@use "../../styles/variables" as *;

:host {
  display: inline-block;
}

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  gap: $spacing-sm;
  cursor: pointer;
  user-select: none;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $spacing-xs;
  border: 2px solid $border-color;
  background-color: $bg-secondary;
  transition: $transition;
  flex-shrink: 0;

  svg {
    color: $text-primary;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.15s;
  }

  &--sm {
    width: $spacing-md;
    height: $spacing-md;

    svg {
      width: $spacing-sm;
      height: $spacing-sm;
    }
  }

  &--md {
    width: $size-2;
    height: $size-2;

    svg {
      width: $spacing-md;
      height: $spacing-md;
    }
  }

  &--lg {
    width: $spacing-xl;
    height: $spacing-xl;

    svg {
      width: $size-2;
      height: $size-2;
    }
  }

  &--focused {
    border-color: $primary;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.checkbox-wrapper:hover:not(:has(.checkbox--disabled)) .checkbox {
  border-color: $border-color;
}

.checkbox-input:checked + .checkbox,
.checkbox-input:indeterminate + .checkbox {
  background-color: $primary-hover;
  border-color: $primary-hover;

  svg {
    opacity: 1;
    transform: scale(1);
  }
}

.checkbox-input:checked + .checkbox:hover,
.checkbox-input:indeterminate + .checkbox:hover {
  background-color: $primary-active;
  border-color: $primary-active;
}

.checkbox-label {
  color: $text-primary;
  font-size: $font-sm;
  line-height: 1.5;
  transition: color 0.2s;

  .required {
    color: $danger;
  }
}

.checkbox-wrapper:has(.checkbox--disabled) .checkbox-label {
  color: $disabled-text;
  cursor: not-allowed;
}

.checkbox-wrapper:hover:not(:has(.checkbox--disabled)) .checkbox-label {
  color: $text-primary;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.checkbox--error {
  border-color: $danger;
}

.error-message {
  font-size: $font-xs;
  color: $danger;
  margin-top: $spacing-xs;
  margin-left: $spacing-2xl;
}
