@use "../../styles/variables" as *;

:host {
  display: inline-block;
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-tertiary;
  color: $text-primary;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--sm {
    width: $size-4;
    height: $size-4;
    font-size: $font-xs;
  }

  &--md {
    width: $size-5;
    height: $size-5;
    font-size: $font-sm;
  }

  &--lg {
    width: $size-6;
    height: $size-6;
    font-size: $font-base;
  }

  &--circle {
    border-radius: 50%;
  }

  &--square {
    border-radius: $border-radius;
  }
}

.avatar-initials {
  font-weight: 500;
}
