@use "../../styles/variables" as *;

:host {
  display: inline-block;
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-tertiary;
  color: $text-primary;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--sm {
    width: 2rem;
    height: 2rem;
    font-size: 0.75rem;
  }

  &--md {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
  }

  &--lg {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }

  &--circle {
    border-radius: 50%;
  }

  &--square {
    border-radius: $border-radius;
  }
}

.avatar-initials {
  font-weight: 500;
}
