@use "../../styles/variables" as *;

:host {
  display: block;
}

.datepicker-container {
  width: 100%;
}

.label {
  display: block;
  font-size: $font-sm;
  font-weight: 500;
  color: $text-primary;
  margin-bottom: $spacing-sm;

  .required {
    color: $danger;
  }
}

.datepicker-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: $bg-secondary;
  transition: $transition;

  &:hover:not(&--disabled) {
    border-color: $border-color;
  }

  &--focused {
    border-color: $primary;
  }

  &--error {
    border-color: $danger;

    &.datepicker-wrapper--focused {
      border-color: $danger-light;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: $bg-quaternary;
  }
}

.datepicker-input {
  width: 100%;
  padding: $spacing-sm $spacing-md;
  background: transparent;
  border: none;
  color: $text-primary;
  font-family: $font-family;
  font-size: $font-sm;
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1);
    opacity: 0.6;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.helper-text {
  margin-top: $spacing-xs;
  font-size: $font-xs;
  color: $text-secondary;
}

.error-message {
  margin-top: $spacing-xs;
  font-size: $font-xs;
  color: $danger-light;
}
