@use "../../styles/variables" as *;

:host {
  display: block;
}

.slider-wrapper {
  width: 100%;
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-sm;
}

.label {
  font-size: $font-sm;
  font-weight: 500;
  color: var(--text-primary);

  .required {
    color: $danger;
  }
}

.slider-value {
  font-size: $font-sm;
  font-weight: 600;
  color: $primary;
}

.slider-container {
  position: relative;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: $size-1;
  border-radius: $spacing-xs;
  background: linear-gradient(
    to right,
    #{$primary-hover} 0%,
    #{$primary-hover} var(--percentage),
    #{$border-color} var(--percentage),
    #{$border-color} 100%
  );
  outline: none;
  transition: background 0.15s;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $spacing-xl;
    height: $spacing-xl;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
    border: 2px solid $primary-hover;
    transition: all 0.15s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &::-moz-range-thumb {
    width: $spacing-xl;
    height: $spacing-xl;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
    border: 2px solid $primary-hover;
    transition: all 0.15s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &::-webkit-slider-thumb {
      cursor: not-allowed;
    }

    &::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
}
