@use "../../styles/variables" as *;

:host {
  display: block;
}

.slider-wrapper {
  width: 100%;
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-primary);

  .required {
    color: $red-500;
  }
}

.slider-value {
  font-size: 0.875rem;
  font-weight: 600;
  color: $blue-500;
}

.slider-container {
  position: relative;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: linear-gradient(
    to right,
    #{$blue-600} 0%,
    #{$blue-600} var(--percentage),
    #{$gray-700} var(--percentage),
    #{$gray-700} 100%
  );
  outline: none;
  transition: background 0.15s;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
    border: 2px solid $blue-600;
    transition: all 0.15s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 0 4px rgba($blue-500, 0.2);
    }

    &:active {
      transform: scale(1.05);
      box-shadow: 0 0 0 6px rgba($blue-500, 0.3);
    }
  }

  &::-moz-range-thumb {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: $white;
    cursor: pointer;
    border: 2px solid $blue-600;
    transition: all 0.15s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 0 4px rgba($blue-500, 0.2);
    }

    &:active {
      transform: scale(1.05);
      box-shadow: 0 0 0 6px rgba($blue-500, 0.3);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &::-webkit-slider-thumb {
      cursor: not-allowed;
    }

    &::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
}
